html {
	padding:0;
	margin:0;
	scroll-behavior: smooth;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4,100vw);
    grid-template-rows: repeat(3,100vh);
}

body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
/* ----------------------------INTRO---------------------------- */

#intro{
    grid-row: 3;
    grid-column: 1;
    background-image: linear-gradient(to bottom, rgb(57, 84, 202),  skyblue);
    width: 100vw;
    overflow: hidden;
}

.l-clouds{
    position: absolute;
    width: 50%;
    left: 0;
    z-index: 0;
    animation-name: cloudMovLeft;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.r-clouds{
    position: absolute;
    width: 50%;
    right: 0;
    z-index: 0;
    animation-name: cloudMovRight;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#cloud1{
    top: 0%;
    right: 20%
}

#cloud2{
    top: 40%;
    left: 60%;
    width: 30%;
}

#cloud3{
    top: 0%;
    left: 20%;
}

#cloud4{
    top: 20%;
    left: 0%;
}

#cloud5{
    top: 50%;
    right: 0%
}

@keyframes cloudMovLeft{
    0% {
        transform: translateX(0);
    }
    25% {
        z-index: 2;
    }
    100% {
        transform: translateX(-20em);
        z-index: 0;
    }
}

@keyframes cloudMovRight{
    0% {
        transform: translateX(0);
    }
    45% {
        z-index: 2;
    }
    100% {
        transform: translateX(20em);
        z-index: 0;
    }
}

#title{
    position: absolute;
    top: 10%;
    width: 35%;
    z-index: 1;
    animation: titleMov 5s;
}

@keyframes titleMov{
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#intro article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 20%;
    z-index: 3;
    padding: 2%;
}

#intro article p{
    width: 50%;
    color: rgb(0, 0, 0);
}

#intro button{
    background-color: rgb(185, 38, 2);
    padding: 30px 25px;
    border-radius: 50%;
}

button>a{
    display: inherit;
    align-items: center;
    color: white;
}

#homer-running{
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 4;
}

#maggie-crying{
    position: absolute;
    width: 10%;
    right: 5%;
    bottom: 10%;
    z-index: 4;
}

/* ----------------------------ENTRY---------------------------- */

#entry{
    grid-row: 3;
    grid-column: 2;
}

#hall{
    grid-row: 2;
    grid-column: 2;
}

#living{
    grid-row: 2;
    grid-column: 1;
}

#kitchen{
    grid-row: 1;
    grid-column: 1;
}

/* ----------------------------DINING ROOM---------------------------- */

#dining-room{
    grid-row: 2;
    grid-column: 3;
    background-image: url('../img/dining-room/background.jpg');
    background-size: cover;
    overflow: hidden;
}

#dining-room p{
    position: absolute;
    color: red;
    bottom: -15px;
    z-index: 0;
}

#dining-room>img{
    z-index: 1;
}
#carpet{
    width: 60%;
    position: absolute;
    bottom: -35px;
    left: 290px;
}

#carpet:hover{
    transform-origin: top;
    transform: rotateX(65deg);
}

#teapot-lid{
    width: 40px;
    position: absolute;
    right: 448px;
    top: 235px;
}

#teapot-lid:hover{
    transform-origin: right;
    transform: rotate(40deg);
}

#painting{
    width: 30px;
    position: absolute;
    top: 195px;
    right: 690px;
}

#painting:hover{
    transform: translateY(-60px);
    transition-duration: 1s;
}

#chicken{
    width: 12%;
    position: absolute;
    top: 325px;
    right: 600px;
}

#chicken:hover{
    transform: translateX(80px);
    transition-duration: 2s;
}

#glass{
    width: 2%;
    position: absolute;
    top: 360px;
    left: 435px;
}

#glass:hover{
    transform-origin: bottom;
    transform: rotateZ(90deg) translate(150px);
    transition-timing-function: ease-in;
    transition-duration: 2s;
}

#glass:hover::after{
    transform: translate(150px);
}

#curtain{
    width: 8%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#curtain:hover{
    transform: translateX(200px);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#light{
    width: 1.5%;
    position: absolute;
    left: 125px;
    top: 280px;
}

#light:hover{
    transform: translateY(15px);
    transition-duration: 1s;
    transition-timing-function: ease;
}
/* ----------------------------HALLWAY---------------------------- */
#hallway{
    grid-row: 1;
    grid-column: 2;
}

#bart-room{
    grid-row: 1;
    grid-column: 3;
}

#lisa-room{
    grid-row: 1;
    grid-column: 4;
}

#maggie-room{
    grid-row: 2;
    grid-column: 4;
}

#game{
    grid-row: 3;
    grid-column: 4;
}

#end{
    grid-row: 3;
    grid-column: 3;
}

/* ARROWS */

.left-arrow{
    height: fit-content;
    position: absolute;
    top: 45%;
    left: 20px;
    cursor: pointer;
    z-index: 5;
}

.right-arrow{
    height: fit-content;
    position: absolute;
    right: 20px;
    top: 45%;
    cursor: pointer;
    z-index: 5;
}

.bottom-arrow{
    height: fit-content;
    position: absolute;
    bottom: 2%;
    cursor: pointer;
    z-index: 5;
}

.top-arrow{
    height: fit-content;
    position: absolute;
    top: 2%;
    cursor: pointer;
    z-index: 5;
}

.left-arrow a, .right-arrow a, .bottom-arrow a, .top-arrow a{
    width: inherit;
    height: inherit;
    z-index: 5;
}
/* ----CUARTO DE MAGGIE---*/
#maggie-room{
	grid-row: 2;
	grid-column: 4;
	background-image: url('../img/maggie_room/back_room.jpg');
    background-size: cover;
    overflow:hidden ;
	padding: 30px;
	border: 5px dashed black;
	box-sizing: border-box;
	
}
#maggie-room>img {
    z-index: 1;

}


.black_square{
	position: absolute;
	top : 35%;
	left: 129px;

	background-color: transparent;
	
	height: 85px;
	width: 60px;
	cursor: pointer;
	
	border: 1px solid black
}  

.pista{
	max-width: 90%;
   margin: auto;
   color :black;
   font-size: x-large;
   font-weight: bold;
   
}

black_square.dark_mode{

	background-color: aqua;
}
.slides.dark_mode{
	background:#00000088
}


			/*
			width: 50px;
			height: 50px;
			margin-right: 1165px;
			float: left;
			
			box-sizing: border-box;
			position: absolute;
			right:    0;
			bottom:   0;
			background-color: black;
			justify-content: center;
			flex-direction: column;
			height: 1600px;
			display: flex;
			padding: 100px;
			box-sizing: border-box;
			width: 1600px;*/


.square{
	width: 50px;
	height: 100px;
	background-color:transparent;
	border: 3px solid red;
	margin: 10px;
}



/*.square .btn-holder {
	justify-content: start;
    display: flex;
    margin-right: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    height: 20px;
}*/

.square.button {
	height: 90px;
	width: 40;
}

/*.greensquare {
	display: none;

}

.greensquare_2{
	display: none;
}

.greensquare_3{
	display: none;
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
}*/
#pelota{
	position: absolute;
	animation: rebota 1s alternate infinite  ease-out;

}

@keyframes rebota {
	0% {
	  bottom: 0;
	  height: 70px;
	}
	100% {
	  bottom: 400px;
	}
  }

#elmo {
	position: absolute;
	top : 11%;
	left: 310px;
	height: 90px;
	width:90px ;
}

#elmo:hover{
	transform: translateX(300px);
	transition-duration: 1s;
	transition-timing-function: ease-in-out;

}
#duende_pared{
	position: absolute;
	top : 5%;
	left: 1040px;
	height: 200px;
	width:150px ;
	animation:girando linear infinite 2s ;
	transform-style: initial;
}
/*#duende_pared:hover{
	transform: translateX(400px);
	transition-duration :1s;
	transition-timing-function:ease-in-out ;

}*/
@keyframes girando {
	0%   { transform: rotate(45deg) rotate3d(1,1,0,0deg);   }
	25%  { transform: rotate(45deg) rotate3d(1,1,0,90deg);  }
	50%  { transform: rotate(45deg) rotate3d(1,1,0,180deg); }
	75%  { transform: rotate(45deg) rotate3d(1,1,0,270deg); }
	100% { transform: rotate(45deg) rotate3d(1,1,0,360deg); }
 }
	







