body {
	padding:0;
	margin:0;
  }
  .contenido_about_this_person h3 {
	position: relative;
	display: block;
	left: 18%;
  width: 80%;
	margin: 0;
	padding: 0;
	font-family: cursive;
	
	font-style: rgb(99, 93, 93);
}
.contenido_about_this_person p {
	position: relative;
	display: block;
	left: 18%;
  width: 80%;
	margin: 0;
	padding: 0;
	margin-left: 2%;
	color: blue;

	
}
